/* 
========================

12-COLUMN FLUID GRID

========================
*/

$span-1: 7.4166666667%;
$span-2: 15.8333333333%;
$span-3: 24.25%;
$span-4: 32.6666666667%;
$span-5: 41.0833333333%;
$span-6: 49.5%;
$span-7: 57.9166666667%;
$span-8: 66.3333333333%;
$span-9: 74.75%;
$span-10: 83.1666666667%;
$span-11: 91.5833333333%;
$span-12: 100%;

$offset-1: 8.4166666667%;
$offset-2: 16.8333333333%;
$offset-3: 25.25%;
$offset-4: 33.6666666667%;
$offset-5: 42.0833333333%;
$offset-6: 50.5%;
$offset-7: 67.3333333333%;
$offset-9: 75.75%;
$offset-10: 84.1666666667%;
$offset-11: 92.5833333333%;


$gutter-half: 0.51%;
$gutter-full: 1.02%;