body {
	font: 1rem/1.5 "Gotham Condensed";
}

.wrapper {
	font: 300 1rem/1.335 "Gotham";
    margin: 0 auto;
    width: 599px;
    text-rendering: optimizelegibility;
}

.wrapper h1 {
	font: 900 60px/.97 "Sentinel";
}